matrix:
  include:
    - language: rust
      rust:
        - stable
      script:
        - cd Rust/game_of_life && cargo test

    - language: ruby
      rvm:
        - 2.6
        - jruby
        - truffleruby

    - language: go
      go:
        - 1.x
        - "1.10"
        - 1.11.x
        - master
      script:
        - go test -v ./...
